*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
}

.sidebar{
    margin: 0 auto;
    width: 600px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    position: relative;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;


    list-style: none;
    cursor: pointer;

}

.link{
    text-decoration: none;
}

.btn-menu{
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.main-menu{

    position: absolute;
    /* transform: translateX(880px); */
    top: 40px;
    left: 880px;

    opacity: 1;
    border: solid 2px;
    width: 9.37rem;
    height: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.62rem
}

.main-menu.show{
    opacity: 0;
}